<div class="row"><div class="alert alert-dismissable alert-success col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Welcome!</strong> Where's the Storm is still in development right now. Feel free to poke around, and let us know what you think <a href="#" class="alert-link">here!</a>
</div></div>

<div class="row"><%= form_for(@location, :html => {:class=> "form-horizontal"}) do |f| %>
<div class="well col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
  <div class="page-header">
    <h1 id="logo">Where's the Storm?</h1>
  </div>
<p class="lead">Where's the Storm is a simple web app that tells you when the next storm is coming.</p>
  <div class="field">
    <div class="col-lg-6 col-md-8 col-sm-6 col-xs-8"><%= f.text_field :address, :class => 'form-control', :placeholder => 'search for storms' %></div> <%= f.submit "Storm?", class: "btn btn-primary" %>
  </div>
</p>
</div>
<% end %>
</div>
