

<!-- Hero Unit to display weather info -->
<div class="row">
    <div class="col-md-8 col-md-offset-2 jumbotron">
      <h1>Current Weather</h1>
      <h3><%= @weather_json["timezone"] %></h3>
      <p class="lead">The current time at <%=@location.address%> is <%=@time %>. </p>
      <p>
        <ul id="weather-inline">
          <li class="weather-item"><canvas id="icon1" width="164" height="164"></canvas></li>
          <li class="weather-item"><dl class="dl-horizontal">
            <dd><h1 id="temp"><%=@temp%>°</h1></dd>
            <dt>Condition:</dt> <dd><%=@summary%></dd>
            <dt>Precipitation:</dt> <dd> <%=@precip%>% <small>chance</small></dd>
            <dt>Precip. Intensity:</dt> <dd> <%=@intensity%></dd>
            <dt>Wind Speed:</dt> <dd> <%=@wind.to_i%> mph</dd>
          </dl></li>
        </ul>
        <a class="btn btn-primary btn-large">Learn more</a>
      </p>
    </div>
</div>
<!--END Hero Unit-->



<!--JS Code for Skycons -->
<%= javascript_tag do %>
  var skycons = new Skycons({"color": "#89CFF0"});
  skycons.add("icon1", Skycons.<%=@icon%>);
  skycons.play();
<% end %>