<!-- Hero Unit to display weather info -->
<div class="row">
    <div class="col-md-8 col-md-offset-2 jumbotron">
      <h1>Today</h1>
      <p class="lead">It is currently <%=@summary %> at <%=@location.address%>. <br />
        It will be <%=@minutely_summary %> <br />
         <%=@hourly_summary %> </p>
      <p>
        <ul id="weather-inline">
          <li class="weather-item"><canvas id="icon1" width="164" height="164"></canvas></li>
          <li class="weather-item"><dl class="dl-horizontal">
            <dt></dt><dd><h3>Right Now</h3></dd>
            <dt></dt><dd><h1 id="temp center"><%=@temp%>°</h></dd>
            <dt>Condition:</dt> <dd><%=@summary%></dd>
            <dt>Precipitation:</dt> <dd> <%=@precip%>% <small>chance</small></dd>
            <dt>Precip. Intensity:</dt> <dd> <%=@intensity%></dd>
            <dt>Wind Speed:</dt> <dd> <%=@wind.to_i%> mph</dd>
          </dl></li>
        </ul>
        <a class="btn btn-primary btn-large">Learn more</a>
      </p>
    </div>
</div>
<!--END Hero Unit-->

<div class="row">


<% index = 1 %>
<% 6.times do %>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-4 forecast well">
    <div class="row">
      <strong><p class="lead"><strong><%=@daily_time[index]%></strong></p></strong>
    </div>
    <div class="row">
      <p id="temp"> <strong><%=@daily_hightemp[index]%>°</strong> <small><%=@daily_lowtemp[index]%>°</small></p> 
    </div>
    <div class="row">
       <p><%=@daily_summary[index]%></p>
    </div>
    <div class="row">
      <% case index+1 %>
      <% when 1 %>
        <canvas id="icon1" width="123" height="123"></canvas>
      <% when 2 %>
        <canvas id="icon2" width="123" height="123"></canvas>
      <% when 3 %>
        <canvas id="icon3" width="123" height="123"></canvas>
      <% when 4 %>
        <canvas id="icon4" width="123" height="123"></canvas>
      <% when 5 %>
        <canvas id="icon5" width="123" height="123"></canvas>
      <% when 6 %>
        <canvas id="icon6" width="123" height="123"></canvas>
      <% when 7 %>
        <canvas id="icon7" width="123" height="123"></canvas>
      <% end %>
    </div>
  </div>
<% index = index + 1 %>
<% end %>




 



<%= javascript_tag do %>
  var skycons = new Skycons({"color": "#89CFF0"});
  skycons.add("icon1", Skycons.<%=@icon%>);
  skycons.add("icon2", Skycons.<%=@daily_icon[1]%>);
  skycons.add("icon3", Skycons.<%=@daily_icon[2]%>);
  skycons.add("icon4", Skycons.<%=@daily_icon[3]%>);
  skycons.add("icon5", Skycons.<%=@daily_icon[4]%>);
  skycons.add("icon6", Skycons.<%=@daily_icon[5]%>);
  skycons.add("icon7", Skycons.<%=@daily_icon[6]%>);
  skycons.play();
<% end %>



