<!-- Hero Unit to display weather info -->
<div class="row">
    <div class="col-md-8 col-md-offset-2 jumbotron">
      <h1>Today</h1>
      <p class="lead">It is currently <%=@summary %> at <%=@location.address%>. <br />
        It will be <%=@minutely_summary %> <br />
         <%=@hourly_summary %> </p>
      <p>
        <ul id="weather-inline">
        <h3>Right Now:</h3>
          <li class="weather-item"><canvas id="icon1" width="164" height="164"></canvas></li>
          <li class="weather-item"><dl class="dl-horizontal">
            <dd><h1 id="temp"><%=@temp%>°</h1></dd>
            <dt>Condition:</dt> <dd><%=@summary%></dd>
            <dt>Precipitation:</dt> <dd> <%=@precip%>% <small>chance</small></dd>
            <dt>Precip. Intensity:</dt> <dd> <%=@intensity%></dd>
            <dt>Wind Speed:</dt> <dd> <%=@wind.to_i%> mph</dd>
          </dl></li>
        </ul>
        <a class="btn btn-primary btn-large">Learn more</a>
      </p>
    </div>
</div>
<!--END Hero Unit-->

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 well">
      <ul id="weather-inline">
      <p>Tomorrow</p>
      <h1 id="temp"> <%=@daily_hightemp[1]%>° | <%=@daily_lowtemp[1]%>°</h1>
      <p><%=@daily_summary[1]%></p>
      <p><li class="weather-item"><canvas id="icon2" width="123" height="123"></canvas></li></p>
      </ul>
    </div>
        <div class="col-sm-6 col-md-6 col-lg-4 well">
      <ul id="weather-inline">
      <p>Tomorrow</p>
      <h1 id="temp"> <%=@daily_hightemp[2]%>° | <%=@daily_lowtemp[2]%>°</h1>
      <p><%=@daily_summary[2]%></p>
      <p><li class="weather-item"><canvas id="icon3" width="123" height="123"></canvas></li></p>
      </ul>
    </div>
        <div class="col-sm-6 col-md-6 col-lg-4 well">
      <ul id="weather-inline">
      <p>Tomorrow</p>
      <h1 id="temp"> <%=@daily_hightemp[3]%>° | <%=@daily_lowtemp[3]%>°</h1>
      <p><%=@daily_summary[3]%></p>
      <p><li class="weather-item"><canvas id="icon4" width="123" height="123"></canvas></li></p>
      </ul>
    </div>
        <div class="col-sm-6 col-md-6 col-lg-4 well">
      <ul id="weather-inline">
      <p>Tomorrow</p>
      <h1 id="temp"> <%=@daily_hightemp[4]%>° | <%=@daily_lowtemp[4]%>°</h1>
      <p><%=@daily_summary[4]%></p>
      <p><li class="weather-item"><canvas id="icon5" width="123" height="123"></canvas></li></p>
      </ul>
    </div>
            <div class="col-sm-6 col-md-6 col-lg-4 well">
      <ul id="weather-inline">
      <p>Tomorrow</p>
      <h1 id="temp"> <%=@daily_hightemp[5]%>° | <%=@daily_lowtemp[5]%>°</h1>
      <p><%=@daily_summary[5]%></p>
      <p><li class="weather-item"><canvas id="icon6" width="123" height="123"></canvas></li></p>
      </ul>
    </div>
                <div class="col-sm-6 col-md-6 col-lg-4 well">
      <ul id="weather-inline">
      <p>Tomorrow</p>
      <h1 id="temp"> <%=@daily_hightemp[6]%>° | <%=@daily_lowtemp[6]%>°</h1>
      <p><%=@daily_summary[6]%></p>
      <p><li class="weather-item"><canvas id="icon7" width="123" height="123"></canvas></li></p>
      </ul>
    </div>
</div>
 

 



<%= javascript_tag do %>
  var skycons = new Skycons({"color": "#89CFF0"});
  skycons.add("icon1", Skycons.<%=@icon%>);
  skycons.add("icon2", Skycons.<%=@daily_icon[1]%>);
  skycons.add("icon3", Skycons.<%=@daily_icon[2]%>);
  skycons.add("icon4", Skycons.<%=@daily_icon[3]%>);
  skycons.add("icon5", Skycons.<%=@daily_icon[4]%>);
  skycons.add("icon6", Skycons.<%=@daily_icon[5]%>);
  skycons.add("icon7", Skycons.<%=@daily_icon[6]%>);
  skycons.play();
<% end %>



