<div id="wrap">
<!-- Begin page content -->
  <div class="container" id="main-page">
    
<!-- Hero Unit to display weather info -->
    <div class="hero-unit">
      <h1>Current Weather</h1>
      <p class="lead">The current time at <%=@location.address%> is <%=@time %>. </p>
      <p>
        <ul class="inline">
          <li><class="lead"><canvas id="icon1" width="164" height="164"></canvas></li>
          <li><dl class="dl-horizontal">
            <dd><h1 id="temp"><%=@temp%>°</h1></dd>
            <dt>Condition:</dt> <dd><%=@summary%></dd>
            <dt>Precipitation:</dt> <dd> <%=@precip%>% <small>chance</small></dd>
            <dt>Precip. Intensity:</dt> <dd> <%=@intensity%></dd>
            <dt>Wind Speed:</dt> <dd> <%=@wind.to_i%> mph</dd>
          </dl></li>
        </ul>
        <a class="btn btn-primary btn-large">Learn more</a>
      </p>
    </div>
    </div>
<!--END Hero Unit-->


  <div id="push"></div>
<!--END Page Content-->
</div>


<!--JS Code for Skycons -->
<%= javascript_tag do %>
  var skycons = new Skycons({"color": "#89CFF0"});
  skycons.add("icon1", Skycons.<%=@icon%>);
  skycons.play();
<% end %>