<!DOCTYPE html>
<html>
<head>
  <title>Where's the Storm?</title>
  <link rel="shortcut icon" href="http://www.popupstorms.com/wp-content/uploads/2011/03/StormIcon.jpg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- iPad (Retina) -->
<link rel="apple-touch-icon"
      sizes="144x144"
      href="http://www.popupstorms.com/wp-content/uploads/2011/03/StormIcon.jpg">
<!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Coda:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css">
<!-- End Fonts-->
  


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Where's the Storm?</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

<% if @location %>
    <%= form_for(@location, :html => {:class=> "navbar-form navbar-right "}) do |f| %>
      <div class="field">
        <div class="form-group"><%= f.text_field :address, :class => 'form-control', :placeholder => 'search for storms' %>
        </div><%= f.submit "Storm?", class: "btn btn-primary" %>
      </div>
    <% end %>
<% end %>

  </div><!-- /.navbar-collapse -->
</nav>
<!-- End Navbar -->


<!--Page Content -->
      <div class="container">
        <%= yield %>
      </div>
<!-- End Page Content -->






   
<!--Footer-->
<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
  <p class="navbar-text pull-left" id="footer">Created by 
    <a href="https://twitter.com/jim_challenger" class="navbar-link">Jim Challenger</a> &
    <a href="https://twitter.com/sirjustinwhite" class="navbar-link">Justin White</a>
  </p>
  <p class="navbar-text pull-right" id="footer">
    <a href="http://forecast.io" class="navbar-link" target="_blank">Powered by Forecast.io</a>
  </p>
</nav>
<!--End Footer--> 


</body>
</html>


