<!DOCTYPE html>
<html>
<head>
  <title>Storm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Coda:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css">
<!-- End Fonts-->
  


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Where's the Storm?</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
    <%= form_for(@location, :html => {:class=> "navbar-form navbar-left "}) do |f| %>
      <div class="field">
        <div class="form-group"><%= f.text_field :address, :class => 'form-control', :placeholder => 'search for storms' %></div> <%= f.submit "Storm?", class: "btn btn-primary" %>
        </div>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Current Location <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Saved Locations</a></li>
          <li><a href="#">Another Saved Location</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- End Navbar -->

<!--Page Content -->
      <div class="container">
        <%= yield %>
      </div>
<!-- End Page Content -->

<!-- Backstretch -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/assets/jquery.backstretch.min.js"></script>
<script>$.backstretch("/assets/storm.jpg");</script>
<!-- END Backstretch -->
   
<!--Footer-->
<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
  <p class="navbar-text pull-left" id="footer">Created by 
    <a href="https://twitter.com/jim_challenger" class="navbar-link">Jim Challenger</a> &
    <a href="https://twitter.com/sirjustinwhite" class="navbar-link">Justin White</a>
  </p>
  <p class="navbar-text pull-right" id="footer">Powered by 
    <a href="http://forecast.io" class="navbar-link" target="_blank">Forecast.io</a>
</nav>
<!--End Footer-->    
</body>
</html>


